<nav class="ms2-nav">
    <NavLink class="ms2-nav__link" href="" Match="NavLinkMatch.All">Resumen</NavLink>
    <NavLink class="ms2-nav__link" href="clientes">Clientes</NavLink>
    <NavLink class="ms2-nav__link" href="suscripciones">Suscripciones</NavLink>
    <NavLink class="ms2-nav__link" href="bases-datos">Bases de Datos</NavLink>
    <NavLink class="ms2-nav__link" href="facturacion">Facturacion</NavLink>
    <NavLink class="ms2-nav__link" href="pagos">Pagos</NavLink>
    <NavLink class="ms2-nav__link" href="ingresos">Ingresos</NavLink>
    <NavLink class="ms2-nav__link" href="automatizacion">Automatizacion</NavLink>
</nav>
