<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="24.2.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0-preview1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>